// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$font-primary:'Segoe UI', system-ui, -apple-system, sans-serif;

/// Copy text color
/// @type Color
$bg-card: #1e1e24;
$text-primary: #f8f9fa;
$text-secondary: #adb5bd;
$accent-color: #f7df1e; // El color clásico de JavaScript
$border-radius: 12px;

/// Main brand color
/// @type Color


/// Container's maximum width
/// @type Length
$max-width: 600px !default;
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 375px,
  'medium': 768px,
  'large': 1024px,
  'extra-large': 1440px,
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
