@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.app-container {
  max-width: abstracts.$max-width; /* 1 */
  margin: 4rem auto;
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
}

